In [1]:
import pandas as pd
import numpy as np

In [2]:
# Loading three tables
df_ppl = pd.read_csv('../data/processed/preprocessed/Population.csv')
df_mil = pd.read_csv('../data/processed/preprocessed/Military_Expenditure.csv')
df_gdp = pd.read_csv('../data/processed/preprocessed/GDP.csv')
arms_data = pd.read_csv('../data/processed/preprocessed/trade_register.csv')

In [3]:
# Basic exploration
print("Shape of Population dataset:", df_ppl.shape)
print("Shape of Military Expenditure dataset:", df_mil.shape)
print("Shape of GDP dataset:", df_gdp.shape)
print("Shape of Arm Trade dataset:", arms_data.shape)

print("\nColumn names of All the tables:")
print(df_ppl.columns.tolist())
print(df_mil.columns.tolist())
print(df_gdp.columns.tolist())
print(arms_data.columns.tolist())

Shape of Population dataset: (10, 7)
Shape of Military Expenditure dataset: (10, 7)
Shape of GDP dataset: (10, 7)
Shape of Arm Trade dataset: (809, 13)

Column names of All the tables:
['Series Name', 'Country Name', 'Country Code', '2020 [YR2020]', '2021 [YR2021]', '2022 [YR2022]', '2023 [YR2023]']
['Series Name', 'Country Name', 'Country Code', '2020 [YR2020]', '2021 [YR2021]', '2022 [YR2022]', '2023 [YR2023]']
['Series Name', 'Country Name', 'Country Code', '2020 [YR2020]', '2021 [YR2021]', '2022 [YR2022]', '2023 [YR2023]']
['Recipient', 'Supplier', 'Year of order', 'Number ordered', 'Weapon designation', 'Weapon description', 'Number delivered', 'Year(s) of delivery', 'status', 'Comments', 'SIPRI TIV per unit', 'SIPRI TIV for total order', 'SIPRI TIV of delivered weapons']

In [4]:
# Define a clean column mapping
column_mapping_world_bank_Data = {
    'Series Name': 'series',
    'Country Name': 'country',
    'Country Code': 'country_code',
    '2020 [YR2020]': '2020',
    '2021 [YR2021]': '2021',
    '2022 [YR2022]': '2022',
    '2023 [YR2023]': '2023'
}

column_mapping_arms_trade_Data = {
    'Recipient': 'recipient_country',
    'Supplier': 'supplier_country', 
    'Year of order': 'order_year',
    'Number ordered': 'units_ordered',
    'Weapon designation': 'weapon_designation',
    'Weapon description': 'weapon_description',
    'Number delivered': 'units_delivered',
    'Year(s) of delivery': 'delivery_years',
    'status': 'deal_status',
    'Comments': 'deal_comments',
    'SIPRI TIV per unit': 'tiv_per_unit',
    'SIPRI TIV for total order': 'tiv_total_order',
    'SIPRI TIV of delivered weapons': 'tiv_delivered'
}

# Apply the renaming
df_ppl.rename(columns=column_mapping_world_bank_Data, inplace=True)
df_mil.rename(columns=column_mapping_world_bank_Data, inplace=True)
df_gdp.rename(columns=column_mapping_world_bank_Data, inplace=True)
arms_data.rename(columns=column_mapping_arms_trade_Data, inplace=True)

In [5]:
# Verify the changes 
print("Shape of Population dataset:", df_ppl.shape)
print("Shape of Military Expenditure dataset:", df_mil.shape)
print("Shape of GDP dataset:", df_gdp.shape)
print("Shape of Arm Trade dataset:", arms_data.shape)

print("\nColumn names of All the tables:")
print(df_ppl.columns.tolist())
print(df_mil.columns.tolist())
print(df_gdp.columns.tolist())
print(arms_data.columns.tolist())

Shape of Population dataset: (10, 7)
Shape of Military Expenditure dataset: (10, 7)
Shape of GDP dataset: (10, 7)
Shape of Arm Trade dataset: (809, 13)

Column names of All the tables:
['series', 'country', 'country_code', '2020', '2021', '2022', '2023']
['series', 'country', 'country_code', '2020', '2021', '2022', '2023']
['series', 'country', 'country_code', '2020', '2021', '2022', '2023']
['recipient_country', 'supplier_country', 'order_year', 'units_ordered', 'weapon_designation', 'weapon_description', 'units_delivered', 'delivery_years', 'deal_status', 'deal_comments', 'tiv_per_unit', 'tiv_total_order', 'tiv_delivered']

In [6]:
# Check the datatype of column values
print("Columns Info Population Table\n\n", df_ppl.info())
print("Columns Info Military Expenditure Table\n\n", df_mil.info())
print("Columns Info GDP Table\n\n", df_gdp.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   series        10 non-null     object
 1   country       10 non-null     object
 2   country_code  10 non-null     object
 3   2020          10 non-null     int64
 4   2021          10 non-null     int64
 5   2022          10 non-null     int64
 6   2023          10 non-null     int64
dtypes: int64(4), object(3)
memory usage: 692.0+ bytes
Columns Info Population Table

 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   series        10 non-null     object
 1   country       10 non-null     object
 2   country_code  10 non-null     object
 3   2020          10 non-null     object
 4   2021          10 non-null     float64
 5   2022          10 non-null     float64
 6   2023          10 non-null     object
dtypes: float64(2), object(5)
memory usage: 692.0+ bytes
Columns Info Military Expenditure Table

 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   series        10 non-null     object
 1   country       10 non-null     object
 2   country_code  10 non-null     object
 3   2020          10 non-null     int64
 4   2021          10 non-null     int64
 5   2022          10 non-null     int64
 6   2023          10 non-null     int64
dtypes: int64(4), object(3)
memory usage: 692.0+ bytes
Columns Info GDP Table

 None

In [7]:
# Melt each DataFrame from wide to long format for WorldBank Data
df_ppl_long = df_ppl.melt(
    id_vars=['series', 'country', 'country_code'],
    value_vars=['2020', '2021', '2022', '2023'],
    var_name='year',
    value_name='value'
)

df_mil_long = df_mil.melt(
    id_vars=['series', 'country', 'country_code'],
    value_vars=['2020', '2021', '2022', '2023'],
    var_name='year',
    value_name='value'
)

df_gdp_long = df_gdp.melt(
    id_vars=['series', 'country', 'country_code'],
    value_vars=['2020', '2021', '2022', '2023'],
    var_name='year',
    value_name='value'
)

# Combine all three long-format DataFrames
df_worldbank_data = pd.concat([df_ppl_long, df_mil_long, df_gdp_long], ignore_index=True)

In [8]:
# Check the datatype of column values for merged table and Arms_Trade Table
print("Columns Info Population Table\n\n", df_worldbank_data.info())
print("Columns Info Arms Trade Table\n\n", arms_data.info())

# lets check and remove duplicates
df_worldbank_data.duplicated().sum()
df_worldbank_data.drop_duplicates(inplace=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   series        120 non-null    object
 1   country       120 non-null    object
 2   country_code  120 non-null    object
 3   year          120 non-null    object
 4   value         120 non-null    object
dtypes: object(5)
memory usage: 4.8+ KB
Columns Info Population Table

 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 809 entries, 0 to 808
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   recipient_country   809 non-null    object
 1   supplier_country    809 non-null    object
 2   order_year          809 non-null    int64
 3   units_ordered       767 non-null    float64
 4   weapon_designation  809 non-null    object
 5   weapon_description  809 non-null    object
 6   units_delivered     809 non-null    int64
 7   delivery_years      809 non-null    object
 8   deal_status         809 non-null    object
 9   deal_comments       751 non-null    object
 10  tiv_per_unit        809 non-null    float64
 11  tiv_total_order     809 non-null    float64
 12  tiv_delivered       809 non-null    float64
dtypes: float64(4), int64(2), object(7)
memory usage: 82.3+ KB
Columns Info Arms Trade Table

 None

In [9]:
# lets check and remove duplicates
arms_data.duplicated().sum()
arms_data.drop_duplicates(inplace=True)
# lets verify
arms_data.duplicated().sum()

np.int64(0)

In [10]:
# Change Datatypes of dataset to make it more analysis-ready
df_worldbank_data['year'] = df_worldbank_data['year'].astype(int)
df_worldbank_data['value'] = pd.to_numeric(df_worldbank_data['value'], errors='coerce')

# Normalize Country Name
df_worldbank_data['country'] = df_worldbank_data['country'].str.strip().str.title()

# Verify Changes
print("Columns Info Population Table\n\n", df_worldbank_data.info())

# Lets Check for Null Values in WorldBank Data
print("\nColumns with Null Values in WorldBank Data")
df_worldbank_data.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   series        120 non-null    object
 1   country       120 non-null    object
 2   country_code  120 non-null    object
 3   year          120 non-null    int64
 4   value         118 non-null    float64
dtypes: float64(1), int64(1), object(3)
memory usage: 4.8+ KB
Columns Info Population Table

 None

Columns with Null Values in WorldBank Data

series          0
country         0
country_code    0
year            0
value           2
dtype: int64

In [11]:
# Normalize names in arms_data
arms_data['recipient_country'] = arms_data['recipient_country'].str.strip().str.title()
arms_data['supplier_country'] = arms_data['supplier_country'].str.strip().str.title()

# Lets Check for Null Values
print("\nColumns with Null Values in Arms Trade Data")
arms_data.isnull().sum()

Columns with Null Values in Arms Trade Data

recipient_country      0
supplier_country       0
order_year             0
units_ordered         42
weapon_designation     0
weapon_description     0
units_delivered        0
delivery_years         0
deal_status            0
deal_comments         58
tiv_per_unit           0
tiv_total_order        0
tiv_delivered          0
dtype: int64

In [12]:
# Flag if units_ordered is known
arms_data['is_units_ordered_known'] = arms_data['units_ordered'].notnull()

# Replace nulls with 'unknown'
arms_data['deal_comments'] = arms_data['deal_comments'].fillna('No Comments')
arms_data.isnull().sum()

recipient_country          0
supplier_country           0
order_year                 0
units_ordered             42
weapon_designation         0
weapon_description         0
units_delivered            0
delivery_years             0
deal_status                0
deal_comments              0
tiv_per_unit               0
tiv_total_order            0
tiv_delivered              0
is_units_ordered_known     0
dtype: int64

In [13]:
# Before merging these tables, it's important to ensure that the years and countries align. This step verifies that
countries_1 = set(arms_data['recipient_country'].unique())
countries_2 = set(df_worldbank_data['country'].unique())
print(sorted(countries_1))
print(sorted(countries_2))

print('\n')

year1 = set(arms_data['delivery_years'].unique())
year2 = set(df_worldbank_data['year'].unique())
print(sorted(year1))
print(sorted(year2))

['Australia', 'Egypt', 'India', 'Japan', 'Kuwait', 'Pakistan', 'Qatar', 'Saudi Arabia', 'Ukraine', 'United States']
['Australia', 'Egypt, Arab Rep.', 'India', 'Japan', 'Kuwait', 'Pakistan', 'Qatar', 'Saudi Arabia', 'Ukraine', 'United States']


['2020', '2020; 2021', '2020; 2021; 2022', '2020; 2021; 2022; 2023', '2020; 2021; 2023', '2020; 2022', '2020; 2022; 2023', '2020; 2023', '2021', '2021; 2022', '2021; 2022; 2023', '2021; 2023', '2022', '2022; 2023', '2023']
[np.int64(2020), np.int64(2021), np.int64(2022), np.int64(2023)]

In [14]:
# There's a significant mismatch in years and a minor discrepancy in country names, Lets Correct this.
# Step 1: Split delivery_years into lists
arms_data['delivery_years'] = arms_data['delivery_years'].str.split('; ')

# Step 2: Count how many years each row has
arms_data['delivery_year_count'] = arms_data['delivery_years'].apply(len)

# Step 3: Divide all relevant columns by delivery_year_count
cols_to_split = ['units_ordered', 'units_delivered', 'tiv_per_unit', 'tiv_total_order', 'tiv_delivered']
for col in cols_to_split:
    arms_data[col] = round(arms_data[col] / arms_data['delivery_year_count'], 1)

# Step 4: Explode delivery_years into separate rows
arms_data = arms_data.explode('delivery_years')

# Step 5: Convert delivery_years to integer
arms_data['delivery_years'] = arms_data['delivery_years'].astype(int)

# Step 6: Drop helper column if no longer needed
arms_data.drop(columns='delivery_year_count', inplace=True)

# Step 7: Fixing Country mismatch
df_worldbank_data['country'] = df_worldbank_data['country'].replace('Egypt, Arab Rep.', 'Egypt')

In [15]:
# Verify the changes
countries_1 = set(arms_data['recipient_country'].unique())
countries_2 = set(df_worldbank_data['country'].unique())
print(sorted(countries_1))
print(sorted(countries_2))

print('\n')

year1 = set(arms_data['delivery_years'].unique())
year2 = set(df_worldbank_data['year'].unique())
print(sorted(year1))
print(sorted(year2))

['Australia', 'Egypt', 'India', 'Japan', 'Kuwait', 'Pakistan', 'Qatar', 'Saudi Arabia', 'Ukraine', 'United States']
['Australia', 'Egypt', 'India', 'Japan', 'Kuwait', 'Pakistan', 'Qatar', 'Saudi Arabia', 'Ukraine', 'United States']


[np.int64(2020), np.int64(2021), np.int64(2022), np.int64(2023)]
[np.int64(2020), np.int64(2021), np.int64(2022), np.int64(2023)]

In [16]:
# Fixed
# change the datatype to int for years
arms_data['delivery_years'] = arms_data['delivery_years'].astype(int)
df_worldbank_data['year'] = df_worldbank_data['year'].astype(int)

# Rename delivery_years and recipient_country to year and country respectively for merging
arms_data.rename(columns={'delivery_years': 'year'}, inplace=True)
arms_data.rename(columns={'recipient_country': 'country'}, inplace=True)

In [17]:
df_worldbank_data_wide = df_worldbank_data.pivot_table(
    index=['country', 'country_code', 'year'],
    columns='series',   # or 'indicator_name' if that's your column name
    values='value'
).reset_index()
df_worldbank_data_wide.columns.name = None  # remove pivot column name
df_worldbank_data_wide.rename(columns=lambda x: x.strip().replace(' ', '_').replace(',', '').replace('(', '').replace(')', ''), inplace=True)

In [18]:
# Lets merge
merged_df = pd.merge(arms_data, df_worldbank_data_wide, on=['country', 'year'], how='inner')

In [19]:
# Save DataFrames to CSV files
arms_data.to_csv('../data/processed/arms_trade_data.csv', index=False)
merged_df.to_csv('../data/processed/final_dataset.csv', index=False)
df_worldbank_data_wide.to_csv('../data/processed/world_bank_data.csv', index=False)